.thoughts {
    margin: 50px 0px;
    text-align: center;
    text-decoration: none;
}

.brainstation {
    width: 200px;
    margin-bottom: 30px;
}

.heyText {
    margin-top: 40px;
}

.headshot {
    width: 300px;
    height: auto;
    display: inline-block;
}

.whatImUp {
    background-color: #EFEFEF;
}

.nowSection {
    margin: 40px 100px 0px 100px;
}

.nowSection .service-heading {
    font-size: 2em;
}

.hey {
    background-color: white;
}

.logo {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.mycv {
    text-align: center;
    background-color: #222;
    padding: 100px;
    color: white;
}

.projectDes {
    text-align: left;
    margin: 90px 50px;
}

.downloadcv {
    margin-bottom: 50px;
    font-size: 1.5em;
}

section h2.section-heading {
    margin-bottom: 40px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover, 
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #222;
}

.mycv h2, .mycv p {
    color: white;
}

.mycv h2:hover, .mycv p:hover {
    text-decoration: none;
}

.portfolio-modal {
    max-width: 80%;
    margin: auto;
}




