.thoughts {
	margin: 50px 0px;
	text-align: center;
	text-decoration: none;
}

.brainstation {
	width: 300px;
}

.heyText {
	margin: 40px 100px;
}

.whatImUp {
	background-color: #EFEFEF;
}

.hey {
	background-color: white;
}

.logo {
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 700;
}

.mycv {
	text-align: center;
	background-color: #222;
	padding: 100px;
	color: white;
}

